:root {
    --primary-dark: #000E56;
    --primary-lite: #0C1859;
}

body {
    margin: 0;
    background-color: #fefefe;
    height: 1200px;
    display: grid;
    grid-template-rows: auto;
    background-color: aqua;

}